{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">Congratulations! Welcome to SAGUARO!</h2>
    <p class="text-center"><img src="{% static 'img/saguaro_logo.png' %}" class="img-fluid mx-auto"></p>
    <form action="{% url 'custom_code:search' %}" class="text-center">
      <input type="search" name="name" size=50 placeholder="Search by name" class="text-center">
    </form>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
    </div>
  </div>
</div>
{% endblock %}
