{% load bootstrap4 %}
{% comment %}
The following nav-item list elements (li) are included in the tom_common/base.html navbar-nav (ul).
For customization instructions, see tom_common/base.html
{% endcomment %}

<li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown {% if 'nonlocalizedevents' in request.resolver_match.route %}active{% endif %}">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Nonlocalized Events</a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'custom_code:gw-list' %}?prefix=S&state=ACTIVE&inv_far_min=0.5" style="color:black">Gravitational Waves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'custom_code:grb-list' %}" style="color:black">&gamma;-ray Bursts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'custom_code:neutrino-list' %}" style="color:black">Neutrinos</a>
        </li>
    </ul>
</li>
<li class="nav-item {% if 'targets' in request.resolver_match.route %}active{% endif %}">
    <a class="nav-link" href="{% url 'targets:list' %}">Targets</a>
</li>
<li class="nav-item dropdown {% if request.resolver_match.namespace == 'surveys' or request.resolver_match.url_name == 'candidates' or request.resolver_match.namespace == 'treasuremap' %}active{% endif %}"">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Surveys</a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'surveys:observations' %}" style="color:black">Observations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'custom_code:candidates' %}?obsdate_range_after={% now 'Y-m-d' %}&classification=0&order=-mlscore_real" style="color:black">Candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'custom_code:candidates' %}?target__name__startswith=AT,SN&order=-observation_record__scheduled_start" style="color:black">TNS Transients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'treasuremap:list' %}" style="color:black">Treasure Map</a>
        </li>
    </ul>
</li>
<li class="nav-item {% if request.resolver_match.namespace == 'alerts' %}active{% endif %}">
    <a class="nav-link" href="{% url 'alerts:list' %}">Alerts</a>
</li>
<li class="nav-item dropdown {% if request.resolver_match.namespace == 'observations' %}active{% endif %}">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Observations</a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tom_observations:list' %}" style="color:black">Observations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tom_observations:group-list' %}" style="color:black">Observation Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tom_observations:template-list' %}" style="color:black">Observation Templates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tom_observations:facility-status' %}" style="color:black">Facility Status</a>
        </li>
    </ul>
</li>
<li class="nav-item {% if request.resolver_match.namespace == 'dataproducts' %}active{% endif %}">
    <a class="nav-link" href="{% url 'tom_dataproducts:list' %}">Data</a>
</li>
<li class="nav-item {% if 'user' in request.resolver_match.url_name %}active{% endif %}">
    <a class="nav-link" href="{% url 'user-list' %}">Users</a>
</li>
