db.sqlite3
**/__pycache__
.idea
data/
_static/
saguaro_tom/settings_local.py
.DS_Store
*.DAT
venv/
candidate_vetting/vetting_app/vetting_app/settings_local.py
MPCORB.csv
ztf-forced-phot-logs/
ztf-forced-phot-logs-backup/