{% extends 'tom_common/base.html' %}
{% load bootstrap4 skymap_extras targets_extras %}
{% block title %}CSS Fields{% endblock %}
{% block content %}
<h1>
    CSS Fields for {{ nonlocalizedevent.event_id }}
    {% if eventlocalization.external_coincidences.exists %}
        {{ eventlocalization.external_coincidences.last.sequences.last.event_subtype.title }}
        {{ eventlocalization.external_coincidences.last.sequences.last.sequence_id }} Combined
    {% else %}
        {{ eventlocalization.sequences.last.event_subtype.title }}
        {{ eventlocalization.sequences.last.sequence_id }}
    {% endif %}
</h1>
<div class="row"><div class="col-md-12">{% skymap eventlocalization %}</div></div>
<div class="row">
  <div class="col-md-10">
  {% select_target_js %}
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    <form method="POST">
      <input type="hidden" value="False" id="isSelectAll" name="isSelectAll">
      {% csrf_token %}
      {% buttons %}
      <button type="submit" class="btn btn-info" formaction="{% url 'custom_code:css-fields-export' eventlocalization.id %}">Export</button>
      <button type="submit" class="btn btn-warning" formaction="{% url 'custom_code:css-fields-submit' eventlocalization.id %}">Submit</button>
      CSS only observes fields requested on the same UT date. This page loaded at {% now "M d H:i" %} UT.
      {% endbuttons %}
      <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectPage" onClick="select_page(this, {{ object_list|length }})" /></th>
          <th>Name</th>
          <th>RA</th>
          <th>Dec.</th>
          <th>Ref?</th>
          <th>Prob.</th>
          <th>Group</th>
          <th>Rank</th>
          <th>Observable</th>
          <th>TM Pointing</th>
        </tr>
      </thead>
      <tbody>
        {% for link in object_list %}
        <tr>
          <td><input type="checkbox" name="selected-target" value="{{ link.id }}" onClick="single_select()" checked /></td>
          <td>{{ link.css_field.name }}</td>
          <td>{{ link.css_field.ra|floatformat:"6" }}</td>
          <td>{{ link.css_field.dec|floatformat:"6" }}</td>
          <td>{{ link.css_field.has_reference }}</td>
          <td>{{ link.probability_contained|floatformat:"6" }}</td>
          <td>{{ link.group }}</td>
          <td>{{ link.rank_in_group }}</td>
          <td>{{ link.first_observable|date:"M d H:i" }}</td>
          <td>{{ link.treasuremap_id }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="10">No fields match those filters.</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </form>
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
  {{ filter.fields }}
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'custom_code:css-fields' eventlocalization.id %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
