{% extends 'tom_common/base.html' %}
{% load bootstrap4 nonlocalizedevent_extras skymap_extras targets_extras %}
{% block title %}Survey Plans{% endblock %}
{% block content %}
<h1>
    Survey Plans for <a href="{% url 'nonlocalizedevents:event-detail' nonlocalizedevent.event_id %}" target="_blank">{{ nonlocalizedevent.event_id }}</a>
    {% if eventlocalization.external_coincidences.exists %}
        {{ eventlocalization.external_coincidences.last.sequences.last.event_subtype.title }}
        {{ eventlocalization.external_coincidences.last.sequences.last.sequence_id }} Combined
    {% else %}
        {{ eventlocalization.sequences.last.event_subtype.title }}
        {{ eventlocalization.sequences.last.sequence_id }}
    {% endif %}
</h1>
{% nonlocalizedevent_details eventlocalization %}
<div class="row"><div class="col-md-12">{% skymap eventlocalization %}</div></div>
<div class="row">
  <div class="col-md-10">
  {% select_target_js %}
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    <form method="POST">
      <input type="hidden" value="False" id="isSelectAll" name="isSelectAll">
      {% csrf_token %}
      {% buttons %}
      <button type="submit" class="btn btn-info" formaction="{% url 'custom_code:css-fields-export' eventlocalization.id %}">Export</button>
      <button type="submit" class="btn btn-warning" formaction="{% url 'custom_code:css-fields-submit' eventlocalization.id %}">Submit</button>
      CSS only observes fields requested on the same UT date. This page loaded at {% now "M d H:i" %} UT.
      {% endbuttons %}
      <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectPage" onClick="select_page(this, {{ object_list|length }})" /></th>
          <th>Name</th>
          <th>RA</th>
          <th>Dec.</th>
          <th>Ref?</th>
          <th>Prob.</th>
          <th>Rank</th>
          <th>Requested</th>
          <th>Observable</th>
        </tr>
      </thead>
      <tbody>
        {% for link in object_list %}
        <tr>
          <td><input type="checkbox" name="selected-target" value="{{ link.id }}" onClick="single_select()" {% if link.group and link.rank_in_group  %}checked{% endif %} /></td>
          <td>{{ link.survey_field.name }}</td>
          <td>{{ link.survey_field.ra | floatformat:"6" }}</td>
          <td>{{ link.survey_field.dec | floatformat:"6" }}</td>
          <td>{{ link.survey_field.has_reference }}</td>
          <td>{{ link.probability_contained | floatformat:"6" }}</td>
          <td>{% if link.group and link.rank_in_group %}{{ link.group }}:{{ link.rank_in_group }}{% endif %}</td>
          <td>{{ link.observation_record.created|date:"M d H:i" }}</td>
          <td>{{ link.scheduled_start | date:"M d H:i" }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="10">No fields match those filters.</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </form>
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
  {{ filter.fields }}
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'custom_code:css-fields' eventlocalization.id %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
