{% extends 'tom_common/index.html' %}
{% load bootstrap4 crispy_forms_tags nonlocalizedevent_extras %}
{% block title %}Gravitational Waves{% endblock %}
{% block content %}
<h1>Gravitational Waves</h1>
<div class="row">
    <div class="col-md-12">
    <form action="" method="get" class="form">
      {% crispy filter.form %}
    </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% if object_list %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">GraceID</th>
        <th scope="col" title="Inverse False Alarm Rate">1/FAR</th>
        <th scope="col" title="Most Likely Classification">Class.</th>
        <th scope="col" title="Distance">Distance</th>
        <th scope="col" title="Has Neutron Star?">NS?</th>
        <th scope="col" title="Has Remnant?">Bright?</th>
        <th scope="col" title="External Links">Ext. Links</th>
      </tr>
      </thead>
      <tbody>
      {% for event in object_list %}
      {% if event.sequences.last.details.significant %}
      <tr style="font-weight: bold">
      {% else %}
      <tr>
      {% endif %}
        <td>
            <a href="{% url 'custom_code:event-candidates' %}?nonlocalizedevent={{ event.id }}" target="_blank">{{ event.event_id }}</a>
            {% if event.state == "RETRACTED" %}
                <span title="retracted">&#x274c;</span> {# red X emoji #}
            {% elif event.sequences.last.event_subtype != "PRELIMINARY" %}
                <span title="confirmed">&#x2714;</span> {# heavy check mark emoji #}
            {% endif %}
        </td>
        <td title="Inverse False Alarm Rate">{{ event.sequences.last.details.far | format_inverse_far }}</td>
        <td title="Most Likely Classification">{{ event.sequences.last.details | get_most_likely_class | truncate }}</td>
        <td title="Distance">{{ event.sequences.last.localization | format_distance }}</td>
        <td title="Has Neutron Star?">{{ event.sequences.last.details.properties.HasNS | percentformat }}</td>
        <td title="Has Remnant?">{{ event.sequences.last.details.properties.HasRemnant | percentformat }}</td>
        <td title="External Links">
          <a href="{{ event.hermes_url }}" target="_blank"><img src="https://hermes.lco.global/favicon.ico" alt="Hermes" title="Hermes" class="hermes icon" /></a>
          <a href="{{ event.gracedb_url }}" target="_blank"><img src="https://gracedb.ligo.org/static/images/favicon.png" alt="GraceDB" title="GraceDB" class="icon" /></a>
          <a href="{{ event.treasuremap_url }}" target="_blank"><img src="https://treasuremap.space/static/gwtm_logo.png" alt="Gravitational Wave Treasure Map" title="Gravitational Wave Treasure Map" class="icon" /></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% else %}
    <p>No events have been created. Create Superevents via the admin interface, the REST API,
        or the readstreams management command.</p>
    <p>Coming soon: event creation from the <a href="{% url 'tom_alerts:list' %}">HERMES Alert Broker</a>.</p>
    {% endif %}
    </div>
</div>

{% endblock content %}
