{% extends 'tom_common/index.html' %}
{% load bootstrap4 crispy_forms_tags nonlocalizedevent_extras %}
{% block title %}Neutrinos{% endblock %}
{% block content %}
<h1>Neutrinos</h1>
<div class="row">
    <div class="col-md-12">
    <form action="" method="get" class="form">
      {% crispy filter.form %}
    </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% if object_list %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Trigger ID</th>
        <th scope="col">Notice Type</th>
        <th scope="col">1/FAR</th>
        <th scope="col">Energy (TeV)</th>
        <th scope="col">Signalness</th>
        <th scope="col">Date</th>
        <th scope="col" title="Hermes">Hermes</th>
      </tr>
      </thead>
      <tbody>
      {% for event in object_list %}
      {% if event.sequences.last.details.significant %}
      <tr style="font-weight: bold">
      {% else %}
      <tr>
      {% endif %}
        <td><a href="{% url 'custom_code:event-candidates' %}?nonlocalizedevent={{ event.id }}" target="_blank">{{ event.event_id }}</a></td>
        <td>{{ event.sequences.last.details.notice_type|title }}</td>
        <td>{{ event.sequences.last.details.far|format_inverse_far_yr }}</td>
        <td>{{ event.sequences.last.details.energy|floatformat:0 }}</td>
        <td>{{ event.sequences.last.details.signalness|percentformat }}</td>
        <td>{{ event.sequences.last.details.time|slice:":19" }}</td>
        <td title="Hermes">
          <a href="{{ event.hermes_url }}" target="_blank">Hermes</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    {% else %}
    <p>No events have been created. Create Superevents via the admin interface, the REST API,
        or the readstreams management command.</p>
    <p>Coming soon: event creation from the <a href="{% url 'tom_alerts:list' %}">HERMES Alert Broker</a>.</p>
    {% endif %}
    </div>
</div>

{% endblock content %}
