{% load tom_common_extras target_list_extras %}

<table class="galaxies table table-hover">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col"><i>P</i><sub>cc</sub></th>
      <th scope="col">Off.  <br/> (")</th>
      <th scope="col">Dist. <br/> (Mpc)</th>
      <th scope="col">Redshift</th>
      <th scope="col">Distance Type</th>
      <th scope="col">Mag.  <br/> (AB)</th>
      <th scope="col">Source</th>
    </tr>
  {% for galaxy in galaxies %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="https://ned.ipac.caltech.edu/conesearch?search_type=Near%20Position%20Search&coordinates={{galaxy.RA}}d,{{galaxy.Dec}}d&radius=0.02" target="_blank">{{ galaxy.ID }}</a></td>
      <td>{{ galaxy.PCC|floatformat:3 }}</td>
      <td>{{ galaxy.Offset|floatformat:2 }}</td>
      {% if galaxy.Dist and galaxy.Dist|floatformat != 'nan' %}
        {% if galaxy.DistErr|islist  %}
          <td style='min-width:8em;'>
	    {{ galaxy.Dist|floatformat:1 }}<span class="supsubdist"><sub>-{{ galaxy.DistErr.0|floatformat:1 }}</sub><sup>+{{ galaxy.DistErr.1|floatformat:1 }}</sup></span>
	  </td>
        {% else %}
	  {% if galaxy.DistErr|floatformat == 'nan' %}
	    <td>{{ galaxy.Dist|floatformat:1 }} (no err.)</td>  
      	  {% else %}
            <td>{{ galaxy.Dist|floatformat:1 }}&nbsp;&plusmn;&nbsp;{{ galaxy.DistErr|floatformat:1 }} </td>  
	  {% endif %}
	{% endif %}
      {% else %}
        <td> </td>
      {% endif %}
      {% if galaxy.z and galaxy.z|floatformat != 'nan'%}
        {% if galaxy.zErr|islist %}
          <td> {{ galaxy.z|floatformat:2 }}<span class="supsubz"><sup>+{{ galaxy.zErr.1|floatformat:2 }}</sup><sub>-{{ galaxy.zErr.0|floatformat:2 }}</sub></span> </td>
          <td> {{ galaxy.z_type }} </td>
	{% else %}
	  {% if galaxy.zErr|floatformat == 'nan' %}
	    <td> {{ galaxy.z|floatformat:2 }} (no err.) </td>
	  {% else %}
            <td> {{ galaxy.z|floatformat:2 }}&nbsp;&plusmn;&nbsp;{{ galaxy.zErr|floatformat:2 }} </td>
	  {% endif %}
	  <td> {{ galaxy.z_type }} </td>
	{% endif %}
      {% else %}
        <td> </td>
        <td> </td>
      {% endif %}
      <td><i>{{ galaxy.Filter }}</i>&nbsp;=&nbsp;{{ galaxy.Mags|floatformat:1 }}</td>
      <td>{{ galaxy.Source }}</td>
    </tr>
  {% empty %}
    <tr><td colspan=9>No viable host galaxies stored</td></tr>
  {% endfor %}
</table>
