{% load tom_common_extras targets_extras target_extras nonlocalizedevent_extras event_candidate_extras %}  {# targets_extras is built in; target_extras is custom #}
<dl class="row">
  {% for target_name in target.names %}
    {% if forloop.first %}
      <dt class="col-sm-3">Names</dt>
    {% else %}
      <dt class="col-sm-3">&nbsp;</dt>
    {% endif %}
    <dd class="col-sm-9">
        {{ target_name }}
        {% with target_name|split_name as name %}
        {% if name.tns_objname %}
            <a href="https://www.wis-tns.org/object/{{ name.tns_objname }}" target="_blank"><img src="https://www.wis-tns.org/sites/default/files/favicon.png" alt="TNS" title="TNS" class="icon" /></a>
        {% elif name.prefix == "ZTF" %}
            <a href="https://alerce.online/object/{{ target_name }}" target="_blank"><img src="https://alerce.online/favicon.ico" alt="ALeRCE" title="ALeRCE" class="icon" /></a>
            <a href="https://antares.noirlab.edu/loci/lookup/{{ target_name }}" target="_blank"><img src="https://antares.noirlab.edu/favicon.ico" alt="ANTARES" title="ANTARES" class="icon" /></a>
            <a href="https://fink-portal.org/{{ target_name }}" target="_blank"><img src="https://fink-portal.org/assets/favicon.ico" alt="Fink" title="Fink" class="icon" /></a>
            <a href="https://lasair-ztf.lsst.ac.uk/objects/{{ target_name }}/" target="_blank"><img src="https://lasair-ztf.lsst.ac.uk/lasair/static/img/favicon/favicon.ico" alt="Lasair" title="Lasair" class="icon" /></a>
            <a href="https://sand.as.arizona.edu/sassy/ztf_q3c/zoid/{{ target_name }}/" target="_blank"><img src="https://www.as.arizona.edu/favicon.ico" alt="SASSy" title="SASSy" class="icon" /></a>
        {% endif %}
        {% endwith %}
    </dd>
  {% endfor %}
  {% for event_candidate in target.eventcandidate_set.all %}
    <dt class="col-sm-3">&nbsp;</dt>
    <dd class="col-sm-9">
      {% if not event_candidate.viable %}<strike>{% endif %}
      &#x1F517;<a href="{% url 'nonlocalizedevents:event-detail' event_candidate.nonlocalizedevent.event_id %}" target="_blank">{{ event_candidate.nonlocalizedevent.event_id }}</a>
      {% if not event_candidate.viable %}</strike>{% endif %}
    </dd>
  {% endfor %}
  <dt class="col-sm-3">Coords.</dt>
  <dd class="col-sm-4">{{ target.ra|deg_to_sexigesimal:"hms" }}</dd>
  <dd class="col-sm-5">{{ target.dec|deg_to_sexigesimal:"dms" }}</dd>
  <dt class="col-sm-3">&nbsp;</dt>
  <dd class="col-sm-4">{{ target.ra|floatformat:6 }}</dd>
  <dd class="col-sm-5">{{ target.dec|floatformat:6 }}</dd>
  <dt class="col-sm-3">Galactic</dt>
  <dd class="col-sm-4">{{ target.galactic_lng|floatformat:6 }}</dd>
  <dd class="col-sm-5">{{ target.galactic_lat|floatformat:6 }}</dd>
  <dt class="col-sm-3">Ecliptic</dt>
  <dd class="col-sm-4">{{ target|ecliptic_lng|floatformat:6 }}</dd>
  <dd class="col-sm-5">{{ target|ecliptic_lat|floatformat:6 }}</dd>
</dl>
<dl class="row">
  {% for key, value in target.as_dict.items %}
    {% if value != None and value != '' and key != 'name' and key != 'ra' and key != 'dec' and key != 'galactic_lng' and key != 'galactic_lat' and key != 'type' and key != 'epoch' %}
      <dt class="col-sm-6" title="{% help_text target key %}">{% verbose_name target key %}</dt>
    {% if key == 'redshift' or key == 'mwebv' %}
      <dd class="col-sm-6">{{ value|floatformat:4 }}</dd>
    {% elif key == 'permissions' %}
      <dd class="col-sm-6">{{ value|title }}</dd>
    {% else %}
      <dd class="col-sm-6">{{ value|truncate_value_for_display }}</dd>
    {% endif %}
    {% endif %}
  {% endfor %}
</dl>
<dl class="row">
{% for key, value in extras.items %}
  <dt class="col-sm-6">{{ key }}</dt>
  <dd class="col-sm-6">{{ value }}</dd>
{% endfor %}
</dl>
<h4>Photometry:</h4>
