{% extends 'tom_common/base.html' %}
{% load bootstrap4 candidate_extras %}
{% block title %}Candidates{% endblock %}
{% block content %}
<h1>Candidates</h1>
<div class="row">
  <div class="col-md-10">
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectPage" onClick="select_page(this, {{ target_count }})" /></th>
          <th>Target</th>
          <th>Obs. Date</th>
          <th>Mag.</th>
          <th>FWHM</th>
          <th>S/N</th>
          <th>ML Score</th>
          <th>Image</th>
          <th>Reference</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        {% for candidate in object_list %}
        <tr>
          <td><input type="checkbox" name="selected-target" value="{{ target.id }}" onClick="single_select()"/></td>
          <td>
            {% if candidate.target is not None %}
              <a href="{% url 'targets:detail' candidate.target.id %}" title="{{ candidate.target.name }}">{{ candidate.target.name }}</a>
            {% else %}
              None
            {% endif %}
          </td>
          <td>{{ candidate.obsdate|date:"Y-m-d" }}</td>
          <td>{{ candidate.mag|floatformat:"1" }}</td>
          <td>{{ candidate.fwhm|floatformat:"1" }}</td>
          <td>{{ candidate.snr|floatformat:"1" }}</td>
          <td>{{ candidate.mlscore|floatformat:"2" }}</td>
          <td><img alt="new image" src="{{ candidate|thumbnail_url }}_img.png" height="80"></td>
          <td><img alt="reference image" src="{{ candidate|thumbnail_url }}_ref.png" height="80"></td>
          <td><img alt="difference image" src="{{ candidate|thumbnail_url }}_diff.png" height="80"></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="10">
            {% if target_count == 0 %}
            No candidates yet.
            {% else %}
            No candidates match those filters.
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
  {{ filter.fields }}
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'custom_code:candidates' %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}