{% extends 'tom_common/base.html' %}
{% load bootstrap4 candidate_extras skymap_extras %}
{% block title %}Candidates{% endblock %}
{% block content %}
{% if request.GET.localization_event %}
<h1>Candidates for {{request.GET.localization_event}}</h1>
<div class="row"><div class="col-md-12">{% skymap_event_id survey_candidates=filter.qs %}</div></div>
{% else %}
<h1>Candidates</h1>
{% endif %}
<div class="row">
  <div class="col-md-10">
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Target</th>
          <th>Obs. Date</th>
          <th>Mag.</th>
          <th>FW HM</th>
          <th>S/N</th>
          <th>ML Old</th>
          <th>ML Real</th>
          <th>ML Bog.</th>
          <th>Image</th>
          <th>Reference</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        {% for candidate in object_list %}
        <tr>
          <td>
            {% if candidate.target is not None %}
              <a href="{% url 'targets:detail' candidate.target.id %}" title="{{ candidate.target.name }}" target="_blank">{{ candidate.target.name }}</a>
            {% else %}
              None
            {% endif %}
          </td>
          <td>{{ candidate.observation_record.scheduled_start|date:"m-d" }}</td>
          <td>{{ candidate.mag|floatformat:"1" }}</td>
          <td>{{ candidate.fwhm|floatformat:"1" }}</td>
          <td>{{ candidate.snr|floatformat:"1" }}</td>
          <td>{{ candidate.mlscore|floatformat:"2" }}</td>
          <td>{{ candidate.mlscore_real|floatformat:"2" }}</td>
          <td>{{ candidate.mlscore_bogus|floatformat:"2" }}</td>
          <td><img alt="new image" src="{{ candidate|thumbnail_url:'img' }}" height="80"></td>
          <td><img alt="reference image" src="{{ candidate|thumbnail_url:'ref' }}" height="80"></td>
          <td><img alt="difference image" src="{{ candidate|thumbnail_url:'diff' }}" height="80"></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="10">
            {% if target_count == 0 %}
            No candidates yet.
            {% else %}
            No candidates match those filters.
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
  {{ filter.fields }}
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'custom_code:candidates' %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}