{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Candidates{% endblock %}
{% block content %}
<h1>Candidates</h1>
<div class="row">
  <div class="col-md-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectPage" onClick="select_page(this, {{ target_count }})" /></th>
          <th>RA</th>
          <th>Dec.</th>
          <th>FWHM</th>
          <th>S/N</th>
          <th>Magnitude</th>
          <th>Obs. Date</th>
          <th>Field</th>
          <th>Class.</th>
          <th>ML Score</th>
          <th>Target</th>
        </tr>
      </thead>
      <tbody>
        {% for candidate in object_list %}
        <tr>
          <td><input type="checkbox" name="selected-target" value="{{ target.id }}" onClick="single_select()"/></td>
          <td>{{ candidate.ra|floatformat:"5" }}&deg; </td>
          <td>{{ candidate.dec|floatformat:"5" }}&deg; </td>
          <td>{{ candidate.fwhm|floatformat:"1" }}</td>
          <td>{{ candidate.snr|floatformat:"1" }}</td>
          <td>{{ candidate.mag|floatformat:"1" }} &pm; {{ candidate.magerr|floatformat:"1" }}</td>
          <td>{{ candidate.obsdate }}</td>
          <td>{{ candidate.field }}</td>
          <td>{{ candidate.classification }}</td>
          <td>{{ candidate.mlscore|floatformat:"2" }}</td>
          <td>
            {% if candidate.target is not None %}
              <a href="{% url 'targets:detail' candidate.targetid %}" title="{{ candidate.target.name }}">{{ candidate.target.name }}</a>
            {% else %}
              None
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">
            {% if target_count == 0 %}
            No candidates yet.
            {% else %}
            No candidates match those filters.
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ filter.fields }}
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'custom_code:candidates' %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}