{% extends 'tom_targets/partials/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras target_list_extras photometry_extras cache target_extras spectroscopy_extras event_candidate_extras %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div id="target-info">
      {% target_feature object %}
      {% if object.future_observations %}
      <div class="alert alert-success">
        {{ object.future_observations|length }} upcoming observation{{ object.future_observations|pluralize }}
      </div>
      {% endif %}
      {% target_unknown_statuses object %}
      {% target_buttons object %}
      {% target_data object %}
      {% recent_photometry object limit=3 %}
      {% if object.type == 'SIDEREAL' %}
      {% aladin_custom object %}
      {% endif %}

    </div>
  </div>
  <div class="col-md-8">
    <div class="tab-pane" id="score-detail">
      <h4>Score Details</h4>
      {% display_score_details target.id %}
    </div>
    <details>
      <summary><h4 style="display:inline-block">Host Galaxies</h4></summary>
      {% galaxy_table object %}
    </details>
    <details>
      <summary><h4 style="display:inline-block">Photometry</h4></summary>
        {% photometry_for_target target %}
        {% get_photometry_data object %}
    </details>
    <details>
      <summary><h4 style="display:inline-block">Spectroscopy</h4></summary>
      {% spectroscopy_for_target target %}
      {% get_spectroscopy_data object %}
    </details>

      {% if comments_are_enabled %}
      <hr/>
      <h5>Comments</h5>
          {% render_comment_list for object %}
          {% url 'targets:detail' object.id as next %}
          {% if user.is_authenticated %}
            {% render_comment_form for object %}
          {% endif %}
      {% endif %}
  </div>
</div>
{% endblock %}
