<style>
  .select2-container {
    width: 100% !important;
  }
  .select2-selection {
    height: auto !important;
    min-height: 38px;
    padding: 4px 8px;
  }
  .select2-selection__rendered {
    line-height: 28px !important;
  }
</style>

{% extends 'tom_common/base.html' %}
{% load static bootstrap4 crispy_forms_tags nonlocalizedevent_extras skymap_extras event_candidate_extras %}
{% block title %}Candidates{% endblock %}
{% block content %}
{% if request.GET.nonlocalizedevent %}
<h1>
Candidates for {{ request.GET.nonlocalizedevent|event_id_from_pk }}
{% if request.GET.nonlocalizedevent|event_type_from_pk  == "GW" %}
    <a href="{{ request.GET.nonlocalizedevent|gracedb_url_from_pk }}" target="_blank"><img src="https://gracedb.ligo.org/static/images/favicon.png" alt="GraceDB" title="GraceDB" class="icon" /></a>
    <a href="{{ request.GET.nonlocalizedevent|treasuremap_url_from_pk }}" target="_blank"><img src="https://treasuremap.space/gwtm_logo.png" alt="Gravitational Wave Treasure Map" title="Gravitational Wave Treasure Map" class="icon" /></a>
{% endif %}
</h1>
{% nonlocalizedevent_details %}
<br></br>
<div class="row"><div class="col-md-12">{% skymap_nle_id %}</div></div>
<br><br>
<div class="row">
  {% if request.user.is_authenticated %}
    <a href="{% url 'scoring:vet_all_form' request.GET.nonlocalizedevent %}" title="Run vetting for all candidates" class="btn btn-warning btn-lg">Vet All</a>
  {% endif %}
  &nbsp;&nbsp;
  {% if request.user.is_superuser %}
    <a onclick="openSummaryModal()" title="Generate text to report to a GCN" class="btn btn-info btn-lg">Generate GCN</a>
  {% endif %}
</div>
<br><br>
{% else %}
<h1>Candidates</h1>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Candidate Summary</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="summaryText" class="form-control" rows="15"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="copyBtn" class="btn btn-success" onclick="copyText()">
                    <i class="fa fa-copy"></i> Copy
                </button>
            </div>
        </div>
    </div>
</div>

<div id="candidate-table-container" hx-boost="true" hx-target="this" hx-push-url="true" hx-history="false">
  {% include 'trove_nonlocalizedevents/candidate_table.html' %}
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'tom_common/js/htmx.min.js' %}"></script>
{% endblock %}
