{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Treasure Map Pointings{% endblock %}
{% block content %}
<h1>Treasure Map Pointings</h1>
<dl class="row">
  <dt class="col-sm-3" title="Every single record listed below">Total Reports</dt>
  <dd class="col-sm-9">{{ filter.qs.count }}</dd>
  <dt class="col-sm-3" title="Doesn't double count observations that apply to multiple GW events">Distinct Observations</dt>
  <dd class="col-sm-9">{{ observation_records.count }}</dd>
  <dt class="col-sm-3" title="Doesn't double count multiple visits to the same field for the same GW event">Distinct Field+Events</dt>
  <dd class="col-sm-9">{{ fields_covered.count }}</dd>
  <dt class="col-sm-3" title="GW events for which we've reported at least 1 pointing">Distinct GW Events</dt>
  <dd class="col-sm-9">{{ nonlocalizedevents.count }}</dd>
</dl>
<div class="row">
  <div class="col-md-10">
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>GW Event</th>
          <th>Facility</th>
          <th>Field</th>
          <th>Observation Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for pointing in object_list %}
        <tr>
          <td>{{ pointing.treasuremap_id }}</td>
          <td>{{ pointing.nonlocalizedevent.event_id }}</td>
          <td>{{ pointing.observation_record.facility }}</td>
          <td>{{ pointing.observation_record.survey_field.name }}</td>
          <td>{{ pointing.observation_record.scheduled_start }}</td>
          <td>{{ pointing.status }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">
            No pointings match those filters.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Filter
        </button>
        <a href="{% url 'treasuremap:list' %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
