{% load nonlocalizedevent_extras %}
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">1/FAR</dt>
            <dd class="col-sm-8">{{ sequence.details.far|format_inverse_far }}</dd>
            {% if sequence.details.group == 'CBC' %}
                <dt class="col-sm-4">Distance</dt>
                <dd class="col-sm-8">{{ sequence.localization|format_distance }}</dd>
            {% endif %}
            <dt class="col-sm-4">50% Area</dt>
            <dd class="col-sm-8">{{ sequence.localization.area_50|floatformat:0 }} deg²</dd>
            <dt class="col-sm-4">90% Area</dt>
            <dd class="col-sm-8">{{ sequence.localization.area_90|floatformat:0 }} deg²</dd>
        </dl>
    </div>
{% if sequence.details.group == 'CBC' %}
    <div class="col-md-4">
        <dl class="row">
            {% for property, prob in sequence.details.properties.items %}
                <dt class="col-sm-4">{{ property }}</dt>
                <dd class="col-sm-8">{{ prob|percentformat }}</dd>
            {% endfor %}
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="row">
            {% for class, prob in sequence.details.classification.items %}
                <dt class="col-sm-4">{{ class }}</dt>
                <dd class="col-sm-8">{{ prob|percentformat }}</dd>
            {% endfor %}
        </dl>
    </div>
{% elif sequence.details.group == 'Burst' %}
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">Group</dt>
            <dd class="col-sm-8">{{ sequence.details.group }}</dd>
            <dt class="col-sm-4">Duration</dt>
            <dd class="col-sm-8">{{ sequence.details.duration|millisecondformat }}</dd>
            <dt class="col-sm-4">Frequency</dt>
            <dd class="col-sm-8">{{ sequence.details.central_frequency|floatformat }} Hz</dd>
        </dl>
    </div>
{% else %}
        <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">Image Energy Range</dt>
            <dd class="col-sm-8">{{ sequence.details.image_energy_range }}</dd>
            <dt class="col-sm-4">Net Count Rate</dt>
            <dd class="col-sm-8">{{ sequence.details.net_count_rate|floatformat }}</dd>
            <dt class="col-sm-4">Image S/N</dt>
            <dd class="col-sm-8">{{ sequence.details.image_snr|floatformat }} Hz</dd>
        </dl>
    </div>
{% endif %}
</div>
